<wicket:extend>
	<h2>Cadastro</h2>
	<p>
		Formulário de cadastro. (<a wicket:id="lista" href="Lista.html">lista
			de itens</a>)
	</p>
	<h3>Formulário</h3>

	<div wicket:id="feedback">[ feedback ]</div>

	<form wicket:id="formCadastro">
		Nome: <input type="text" wicket:id="nome" /> <br/>
		Email: <input type="text" wicket:id="email" /> <br/>
		Tipo Participante: <select wicket:id="tipoParticipante"><option>ALUNO</option></select> <br/>
		Mensagem: <textarea wicket:id="mensagem"></textarea> <br/>
		<input type="submit" value="Enviar" />
	</form>
<br/><br/>
	<span wicket:id="nomeParticipante"></span> <br/>
	<span wicket:id="hashCodeModel"></span> <br/>
	<span wicket:id="hashCodeObjeto"></span>
</wicket:extend>
