<wicket:extend>
	<h2>Cadastro</h2>
		<i>ListView</i>
			<br />
			<ul>
				<li wicket:id="listaLV"><span wicket:id="nome">Item 1</span> 
					<a href="#" wicket:id="remover"> | Remover</a> </li>
			</ul>
			<br/>
	<!-- 		
		<i>PageableListView</i>
			<br />
			<ul>
				<li wicket:id="listaPLV"><span wicket:id="nome">Item 1</span> |
					<a href="#" wicket:id="remover">Remover</a></li>
			</ul>
			<div wicket:id="paginacaoPLV"></div>
 	-->			
</wicket:extend>