<wicket:head>
	<!-- CSS especifico da pagina cadastro -->
	<link rel="stylesheet" href="cadastro-style.css" type="text/css"
		media="screen" title="Stylesheet" />
</wicket:head>
<wicket:extend>
	<h2>Cadastro</h2>

	<div wicket:id="feedback">[ feedback ]</div>

	<p>
		Formulário de cadastro. (<a wicket:id="lista" href="Lista.html">lista
			de itens</a>)
	</p>

	<a href="#" wicket:id="self">Atualizar esta instância de página</a>
	<br />
	<span wicket:id="data">dd/MM/yyyy</span>
	<br />
	<span wicket:id="dataModel">dd/MM/yyyy</span>
	<br />
	<span wicket:id="dataPropriedade">dd/MM/yyyy</span>
	<br />
	<span wicket:id="dataAtual">dd/MM/yyyy</span>
	<br />
	<span wicket:id="dataLDM">dd/MM/yyyy</span>

	<div wicket:id="br">
		<div wicket:id="ps">[ painel de sumario ]</div>
	</div>

	<h3>Formulário</h3>
	<form>
		<input type="text" /> <input type="submit" value="Enviar" />
	</form>

	<span wicket:id="panel1">panel</span>
	<span wicket:id="panel1_2">panel</span>
	<span wicket:id="panel1_3">panel</span>
	<span wicket:id="panel2">panel</span>
	<wicket:fragment wicket:id="frag1">
    	This is the content of fragment 1
    	Nome: <span wicket:id="l">nome</span>
	</wicket:fragment>
	<wicket:fragment wicket:id="frag2">
    	fragment 2222222
    </wicket:fragment>

</wicket:extend>
